<!doctype html>
<html lang="nl">
<head>
	<meta charset="UTF-8">
	<title>Intelliflow</title>
	<link rel="stylesheet" href="js/lib/bootstrap/dist/css/bootstrap.min.css"/>
	<style type="text/css">
		.red {
			color: red;
		}
		.green {
			color: green;
		}
		th {
			vertical-align: inherit !important;
			text-align: right;
		}
	</style>
</head>
<body ng-app="myApp">
	<div class="container" ng-controller="bikeController as vm">
		<h1>Intelliflow</h1> <button ng-click="vm.show = !vm.show ">Show list</button>
		<div class="row">
			<div class="col-md-12" style="text-align: right">
				<table class= "table table-striped">

				<tr>
						<td><h4>Amount of measurements: {{vm.amount}}</h4></td>
						<td width="10%"></td>
						<td><h4>Current Temp: {{vm.temp}}</h4></td>
						<td width="10%"></td>
						<td><h4>Time of measurement: {{vm.timestamp | date : "dd/mm/yy 'at' HH:mm:ss"}}</h4></td>
				</tr>
				<tr  ng-show={{vm.show}} class = "ng-hide">
					<th>Timestamp</th>
					<th>temperature</th>
				</tr>
				<tr ng-repeat="temp in vm.temps"  ng-show={{vm.show}} class = "ng-hide">
					<td>{{temp.time | date : "dd/mm/yy 'at' HH:mm:ss"}}</td>
					<td>{{temp.temperature}}</td>
				</tr>
				</table>
			</div>
		</div>
	</div>

<script src="js/lib/angular/angular.min.js"></script>
<script>
	angular.module('myApp', [])
			.controller('bikeController', filmController);
	function filmController($http, $timeout) {
        // 0. initialisaties, variabelen
        var vm = this;
		vm.temp = 0;
		vm.timestamp = "";
        vm.temps = [];
        vm.amount = 0;
		vm.show = false;
        var error = false;
        vm.getData = function(){
			$http({
				method: 'get',
				url   : "http://intelliflow.pxl-ea-ict.be:24070/api/v1/amount"
			}).then(function (amount) {
				vm.amount = amount.data[0].count_temperature;
			}).catch(function (err) {
				//alert('Error: er is een fout opgetreden ' + err);
				error = true;
			});
			$http({
				method: 'get',
				url   : "http://intelliflow.pxl-ea-ict.be:24070/api/v1/temperature"
			}).then(function (temps) {
				vm.data = temps.data[temps.data.length-1];
				vm.temp = vm.data.temperature;
				vm.timestamp = vm.data.time;
				vm.temps = temps.data;
			}).catch(function (err) {
				//alert('Error: er is een fout opgetreden ' + err);
				error = true;
			});

			if(error){
				alert('Error: er is een fout opgetreden ');
			}
			vm.coins = [];
		}

		vm.intervalFunction = function(){
			$timeout(function() {
			vm.getData();
			vm.intervalFunction();
			}, 1000)
		};
		vm.intervalFunction();
    }
</script>
</body>
</html>